<h2 class="center">Log In</h2>
<%= flash[:error] %>
<hr>
<%= form_for @admin, url: {action: "login"}, html: {class: "center"} do |f| %>
  Username: <%= f.text_field :username %><br>
  Password: <%= f.password_field :password %><br>
  <%= f.submit "Submit" %>
<% end %>
