<header>
  <nav>
    <%= link_to "Home", "/#welcome" %>
    <%= link_to "Blog", "/#blogs" %>
    <%= link_to "Projects", "/#projects" %>
    <%= link_to "About", "/#about" %>
    <% if logged_in? %>
      <%= link_to "Private", posts_private_path %>
      <%= link_to "Log Out", admin_path, method: 'delete' %>
    <% end %>
  </nav>

  <div id="socialmedia">
    <div id="sociallinks">
      <%= link_to image_tag("github-icon.png", alt: "Github", class: "icon"), "https://github.com/albalenys", target: "_blank", title: "Follow me on GitHub!" %>
      <%= link_to image_tag("linkedin-icon.svg", alt: "Linkedin", class: "icon"), "https://www.linkedin.com/in/albalenys", target: "_blank", title: "Check me out on Linkedin!" %>
      <%= link_to image_tag("instagram-icon.png", alt: "Instagram", class: "icon"), "https://www.instagram.com/alba_skies/", target: "_blank", title: "Follow me on Instagram!" %>
      <%= link_to image_tag("email-icon.png", alt: "Email", class: "icon"), "mailto:www.albalenysD@gmail.com", title: "Send me an email!" %>
      <%= link_to image_tag("rss-feed-icon.png", alt: "RSS Feed", class: "icon"), "http://www.albalenys.com/feed?format=rss", target: "_blank", title: "Add a RSS Feed!" %>
    </div>

    <%= search_form_for @project_query, url: search_path, method: "get" do |f| %>
      <%= f.search_field :title_cont, id: "search-bar", placeholder: "search" %>
      <%= image_tag "search-icon", class: "search-icon" %>
    <% end %>
  </div>
</header>
