<p><%= flash[:error] %></p>

<%= form_for @project, html: {class: "center"} do |f|%>
  Title: <%= f.text_field :title %><br>
  URL: <%= f.text_field :url %><br>
  Github Link: <%= f.text_field :github %><br>
  Software: <%= f.text_field :software %><br>
  <p><%= f.text_area :description %></p>
  <%= f.submit "Submit", class: "sub-button" %>
<% end %>