<h1>
  <%= @project.id ? "Edit" : "New" %> Project
</h1>

<div>
  <%= flash[:error] %>
</div>

<%= form_for @project do |f| %>
  Title: <%= f.text_field :title %><br>
  URL: <%= f.text_field :url %><br>
  Github Link: <%= f.text_field :github %><br>
  <p><%= f.text_area :description %></p>
  <%= f.submit "Submit", class: "sub-button" %>
<% end %>