<div>
  <%= flash[:error] %>
</div>

<%= form_for @project, remote: true do |project_form| %>
  Title: <%= project_form.text_field :title %><br>
  URL: <%= project_form.text_field :url %><br>
  Github Link: <%= project_form.text_field :github %><br>
  <p><%= project_form.text_area :description %></p>
  <%= project_form.submit "Submit", class: "sub-button" %>
<% end %>