<h1 class="center">Projects</h1>

<% if logged_in? %>
  <div class="center">
    <%= link_to "Add Project", new_project_path, class: "sub-button", remote: true %>
  </div>
<% end %>

<div id="projects-list">
  <% @projects.each do |project| %>
    <div id=<%= "project-#{project.id}" %>>
      <%= project.url == "" ? project.title : link_to("#{project.title}", project.url, target: "_blank") %>
      (<%= link_to "Github Source", project.github, target: "_blank" %>)
      <% if logged_in? %>
        <div class="edit-links right hidden">
          <%= link_to image_tag("edit-icon.png", class: "sub-icon"), edit_project_path(project), class: "remove-border", remote: true %>
          <%= link_to image_tag("delete-icon.png", class: "sub-icon"), project_path(project), class: "remove-border", method: "DELETE" %>
        </div>
      <% end %>
      <br>

      <%= render "tags/list", :taggable => project %>

      <p>
        <%= project.description %>
      </p>
    </div>
  <% end %>
</div>

<%= will_paginate @projects %>
