<h1 class="center">Projects</h1>

<% if logged_in? %>
  <div class="center">
    <%= link_to "Add Project", new_project_path, class: "sub-button" %>
  </div>
<% end %>

<hr>
<% @projects.each do |project| %>
  <%= link_to "#{project.title}", project.url %>
  <% if logged_in? %>
    <div class="right">
      <%= link_to image_tag("edit-icon.png", class: "sub-icon"), edit_project_path(project) %>
      <%= link_to image_tag("delete-icon.png", class: "sub-icon"), project_path(project), method: "DELETE" %>
    </div>
  <% end %><br>

  <% if project.software %>
    <div class="sub">
      Software used: <%= project.software %>
    </div>
  <% end %>
  <p><%= project.description %></p>
  <hr>
<% end %>

<%= will_paginate @projects %>
