<div class="center">
  <% if logged_in? %>
    <%= link_to "Add Tag", new_post_tag_path(@post.id), class: "sub-button", remote: true %>
  <% end %>
</div>

<% unless @post.tags.empty? %>
  <strong>Tags</strong>:
<% end %>

<% if logged_in? %>
  <ul id="tag-list">
    <% @post.tags.each do |tag| %>
      <li id=<%= "tag-#{tag.id}" %>>
        <%= link_to tag.name, tag_path(tag) %>
        <div class="right">
          <%= link_to image_tag("delete-icon.png", class: "sub-icon"), post_tag_path(@post, tag), class: "remove-border", method: "DELETE", format: :js, remote: true %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %><% unless @post.tags.last == tag %>, <% end %>
  <% end %>
<% end %>