<h1 class="center">Blog Posts</h1>

<% if logged_in? %>
  <p class="center"><%= link_to "Add Blog Post", new_post_path, class: "sub-button" %></p>
<% end %>

<hr>
<% @posts_by_month.each do |monthname, posts| %>
  <h4 class="center"><%= monthname %> 2015</h4>
  <ul>
    <% posts.each do |post| %>
      <li>
        <%= monthname %> <%= post.created_at.day %>:
        <%= link_to "#{post.title}", post_path(post) %>

        <% if logged_in? %>
          <div class="right">
            <%= link_to image_tag("edit-icon.png", class: "sub-icon"), edit_post_path(post) %>
            <%= link_to image_tag("delete-icon.png", class: "sub-icon"), post_path(post), method: "DELETE" %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <hr>
<% end %>
