<main>
  <h2 class="center">Create Blog Post</h2>
  <%= flash[:error] %>
  <hr>

  <%= form_for @post, html: {class: "center"} do |f|%>
    <p>Title: <%= f.text_field :title, class: "post-title" %></p>
    <%= f.text_area :content, class: "post-text" %><br>
    <%= f.submit "Submit" %>
  <% end %>
</main>
