<div class="page-container">
  <h1 class="center">Private Blog Posts</h1>

  <p class="center">
    <%= link_to "Add Blog Post", new_post_path, class: "sub-button" %>
  </p>

  <hr>
  <% @posts_by_month.each do |month_year, posts| %>
    <h4 class="center"><%= month_year.strftime("%B %Y") %></h4>
    <ul>
      <% posts.each do |post| %>
        <li>
          <%= month_year.strftime("%B") %> <%= post.created_at.day %>:
          <%= link_to "#{post.title}", post_path(post) %>

          <% if logged_in? %>
            <div class="right">
              <%= link_to image_tag("edit-icon.png", class: "sub-icon"), edit_post_path(post) %>
              <%= link_to image_tag("delete-icon.png", class: "sub-icon"), post_path(post), method: "DELETE" %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <hr>
</div>