<section>
  <%= render "view" %>

  <%= render "tags/index", :taggable => @post %>

  <%= render "resources/index" %>

  <div id="blog-nav">
    <% if @next_post %>
      <%= link_to post_path(@next_post), title: @next_post.title, id: "next-post" do %>
        <%= fa_icon("chevron-left") %>
        <span>
          <sub>Next Post</sub><br>
          <%= @next_post.title %>
        </span>
      <% end %>
    <% end %>

    <% if @previous_post %>
      <%= link_to post_path(@previous_post), title: @previous_post.title, id: "prev-post" do %>
        <span>
          <sub>Previous Post</sub><br>
          <%= @previous_post.title %>
        </span>
        <%= fa_icon("chevron-right") %>
      <% end %>
    <% end %>
  </div>
</section>
