<main id="top">
  <h2 class="center"><%= @post.title %></h2>

  <div class="sub">
    Published <%= @post.created_at.strftime("%B, %d, %Y") %> by Abby De Los Santos
  </div>

  <% if logged_in? %>
    <div class="center">
      <%= link_to "Add Resource", new_post_resource_path(params[:id]), class: "sub-button" %>
      <%= link_to "Edit Post", edit_post_path(@post.id), class: "sub-button" %>
      <%= link_to "Delete Post", post_path(@post.id), method: "DELETE", class: "sub-button" %>
    </div>
  <% end %>
  <hr>
  <p><%= @post.content.html_safe %></p>

  <% if !@post.resources.empty? %>
    <hr>
    <h4 class="center">Further Resources</h4>
    <ul>
      <% @post.resources.each do |resource| %>
        <li><%= link_to "#{resource.title}", resource.url, target: "_blank" %></li>
      <% end %>
    </ul>
  <% end %>

  <%= render "footer" %>
</main>