<section>
  <%= render "view" %>

  <%= render "tags/index", :taggable => @post %>

  <%= render "resources/index" %>

  <div id="blog-nav">
    <% if @next_post %>
      <a href="<%= post_path(@next_post) %>">
        <%= fa_icon("chevron-left") %>
        <span>
          <sub>Next Post</sub><br>
          <%= @next_post.title %>
        </span>
      </a>
    <% end %>
    <% if @previous_post %>
      <a href="<%= post_path(@previous_post) %>">
        <span>
          <sub>Previous Post</sub><br>
          <%= @previous_post.title %>
        </span>
        <%= fa_icon("chevron-right") %>
      </a>
    <% end %>
  </div>
</section>
