<div class="large-container">
  <% if @post.private %>
    <div class="center private">
      <p>PRIVATE POST</p>
    </div>
  <% end %>

  <div id="top" class="center">
    <h1 id="post-title">
      <% if logged_in? %>
        <%= link_to @post.title, posts_edit_title_path(params[:id], format: :js), remote: true %>
      <% else %>
        <%= @post.title %>
      <% end %>
    </h1>
  </div>

  <div class="center sub">
    Published <%= @post.created_at.strftime("%B, %d, %Y") %><br>
    by Abby De Los Santos<br>

    <% unless @post.tags.empty? %>
      <strong>Categories</strong>:
      <% @post.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %><% unless @post.tags.last == tag %>, <% end %>
      <% end %>
    <% end %>

    <p>
      <% if logged_in? %>
        <%= link_to image_tag("edit-icon.png", class: "sub-icon"), edit_post_path(@post), class: "remove-border" %>
        <%= link_to image_tag("delete-icon.png", class: "sub-icon"), post_path(@post), class: "remove-border", method: "DELETE" %>
      <% end %>
    </p>
  </div>

  <hr>
  <p><%= @post.content.html_safe %></p>
  <hr>

  <%= render "resources/list" %>

  <%= render "footer" %>
</div>
