<div class="post-container">
  <% if @post.private %>
    <div class="center private">
      <p>PRIVATE POST</p>
    </div>
  <% end %>

  <h1 id="top" class="post-title center"><%= @post.title %></h1>

  <div class="center sub">
    Published <%= @post.created_at.strftime("%B, %d, %Y") %> by Abby De Los Santos<br>

    <% unless @post.tags.empty? %>
      <span class="subtitle">Categories</span>:
      <% @post.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag) %><% unless @post.tags.last == tag %>, <% end %>
      <% end %>
    <% end %>

    <p>
      <% if logged_in? %>
        <%= link_to image_tag("edit-icon.png", class: "sub-icon"), edit_post_path(@post) %>
        <%= link_to image_tag("delete-icon.png", class: "sub-icon"), post_path(@post), method: "DELETE" %>
      <% end %>
    </p>
  </div>

  <hr>
  <p><%= @post.content.html_safe %></p>

  <% if logged_in? %>
    <div class="center">
      <%= link_to "Add Resource", new_post_resource_path(params[:id]), class: "sub-button" %>
    </div>
  <% end %>

  <% unless @post.resources.empty? %>
    <%= render "resources/list" %>
  <% end %>

  <%= render "footer" %>
</div>
