<div class="large-container">
  <%= render "post" %>

  <%= render "tags/index", :taggable => @post %>

  <%= render "resources/index" %>

  <div id="blog-nav">
    <% if @next_post %>
      <%= link_to "Next", post_path(@next_post), class: "sub-button" %>
    <% end %>
    <% if @previous_post %>
      <%= link_to "Previous", post_path(@previous_post), class: "sub-button" %>
    <% end %>
  </div>
</div>
