<header>
  <nav>
    <%= link_to "Home", root_path, class: "button" %>
    <%= link_to "Blog", posts_path, class: "button" %>
    <%= link_to "Projects", projects_path, class: "button" %>
    <%= link_to "About", about_path, class: "button" %>
    <% if logged_in? %>
      <%= link_to "Log Out", admin_path, method: 'delete', class: "button" %>
    <% end %>
  </nav>

  <aside class="center">
    <a href="https://twitter.com/albalenys_" target="_blank" title="Follow me on Twitter!"><%= image_tag("twitter-icon.svg", alt: "Twitter", class: "icon") %></a>
    <a href="https://plus.google.com/u/0/+AbbyDeLosSantos/" target="_blank" title="Check me out on Google+!"><%= image_tag("googleplus-icon.png", alt: "Google+", class: "icon") %></a>
    <a href="https://github.com/albalenys" target="_blank" title="Follow me on GitHub!"><%= image_tag("github-icon.png", alt: "Github", class: "icon") %></a>
    <a href="https://www.linkedin.com/in/albalenys" target="_blank" title="Check me out on Linkedin!"><%= image_tag("linkedin-icon.svg", alt: "Linkedin", class: "icon") %></a>

    <div class="center search">
      <%= form_tag search_path, method: "get" do %>
        <%= image_tag "search-icon", class: "search-icon" %>
        <%= text_field :search, params[:search], class: "search-bar", placeholder: "search" %>
      <% end %>
    </div>
  </aside>
</header>
