<header>
  <nav>
    <%= link_to "Home", "/#welcome" %>
    <%= link_to "Blog", "/#blogs" %>
    <%= link_to "Projects", "/#projects" %>
    <%= link_to "About", "/#about" %>
    <% if logged_in? %>
      <%= link_to "Log Out", admin_path, method: 'delete' %>
    <% end %>
  </nav>

  <div class="center socialmedia">
    <%= link_to image_tag("twitter-icon.svg", alt: "Twitter", class: "icon"), "https://twitter.com/albalenys_", target: "_blank", title: "Follow me on Twitter!" %>
    <%= link_to image_tag("googleplus-icon.png", alt: "Google+", class: "icon"), "https://plus.google.com/u/0/+AbbyDeLosSantos/", target: "_blank", title: "Check me out on Google+!" %>
    <%= link_to image_tag("github-icon.png", alt: "Github", class: "icon"), "https://github.com/albalenys", target: "_blank", title: "Follow me on GitHub!" %>
    <%= link_to image_tag("linkedin-icon.svg", alt: "Linkedin", class: "icon"), "https://www.linkedin.com/in/albalenys", target: "_blank", title: "Check me out on Linkedin!" %>

    <div class="center">
      <%= search_form_for @q, url: search_path, method: "get" do |f| %>
        <%= image_tag "search-icon", class: "search-icon" %>
        <%= f.search_field :title_cont, class: "search-bar", placeholder: "search" %>
      <% end %>
    </div>

  </div>
</header>
