<!DOCTYPE html>
<html>
<head>
  <title>DevAdventures</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700|Open+Sans+Condensed:300|Amatic+SC:400,700|Fjalla+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/monokai-sublime.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'responsive', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>
    <%= yield %>
  <%= render "shared/footer" %>
</body>
</html>
